.container{
    display: flex;
    justify-content: space-between;
    padding: 40;
    flex-direction: column;
}
.listContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list{
    margin: 10;
    color: whitesmoke;
}

.listItem {
    margin-top: 10;
    display: flex;
    align-items: center;
}
.listItemLink{
    margin-left: 5;
}